@import '~bulma';
@import '~bulma-divider';

.opacity-70 {
  opacity: 70%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.is-half-width {
  width: 50%;
}

.align-middle {
  vertical-align: middle;
}
