---
import Heading from '~/components/heading';
import Paragraph from '~/components/paragraph';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Not Found">
  <section>
    <Heading>Not Found</Heading>
    <Paragraph>The page you requested does not exist</Paragraph>
  </section>
</Layout>
