@import './Page.normalize.css';

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  color: rgb(38, 38, 38);
  line-height: 1.25;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 16px;
  }
}

a {
  color: #3273dc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

img {
  max-width: 100%;
  max-height: 100%;
}

pre {
  border-radius: 6px;
  font-size: 0.8rem !important;
}

code {
  border-radius: 3px;
  background-color: hsl(0, 0%, 95%);
  font-size: 0.9rem;
}

blockquote {
  color: rgba(38, 38, 38, 0.75);
}

hr {
  width: 75%;
  height: 1px;
  margin: 1.5rem auto;
  border: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.navbar {
  display: flex;
  margin: 0 0 2rem 0;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  gap: 0 1.5rem;
  align-items: center;
}

@media only screen and (max-width: 640px) {
  .navbar {
    display: block;
    margin-top: 0.25rem;
  }
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 500;
}

@media only screen and (max-width: 640px) {
  .navbar-logo {
    text-align: center;
  }
}

.navbar-logo-link {
  color: inherit;
  text-decoration: none;
}

.navbar-logo-link:hover {
  text-decoration: none;
}

.navbar-links {
  flex-grow: 1;
}

@media only screen and (max-width: 640px) {
  .navbar-links {
    margin-top: 0.5rem;
    text-align: center;
  }
}

.navbar-link {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 1.25rem;
  color: initial;
}

.navbar-link:hover {
  background-color: hsl(0, 0%, 98%);
  text-decoration: none;
}

@media only screen and (max-width: 640px) {
  .navbar-link {
    padding: 0.2rem 0.4rem;
  }
}

.navbar-link--active {
  font-weight: 500;
}

.page-container {
  max-width: 920px;
  padding: 0 1rem 2rem 1rem;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  .page-container {
    padding: 0 0.5rem 1rem 0.5rem;
  }
}

.section-header {
  margin: 1rem 0;
  font-size: 1.75rem;
  font-weight: 500;
}

.section-info {
  display: flex;
  flex-wrap: wrap;
  font-weight: 300;
  letter-spacing: 0.025rem;
}

.section-header + .section-info {
  margin-top: -0.75rem;
}

.section-prelude {
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.section-cover {
  margin: 1rem auto;
  width: 75%;
}

.section-misc {
  margin: 0.15rem 0;
  font-style: italic;
}

.section-postlude {
  padding: 0 1rem;
  font-size: 1.125rem;
}

.group + .group {
  margin-top: 1.5rem;
}

.group-header {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.025rem;
}

.entry {
  margin: 1rem 0;
}

.entry-name {
  font-size: 1.15rem;
}

.entry-description {
  margin-top: 0.25rem;
}

.entry-info {
  display: flex;
  margin-top: 0.25rem;
  flex-wrap: wrap;
  font-weight: 300;
  letter-spacing: 0.025rem;
}

.label {
  display: flex;
  margin-right: 0.75rem;
  gap: 0 0.25rem;
  align-items: center;
}

.label svg {
  margin-top: 0.15rem;
}

@media only screen and (max-width: 640px) {
  .label svg {
    margin-top: 0.1rem;
  }
}
