.avatar {
  margin: 1rem auto;
  text-align: center;
}

.avatar-image {
  border-radius: 50%;
}

.social-links {
  font-size: 1.35rem;
  text-align: center;
}

.social-link {
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  color: initial;
}

.social-link:hover {
  background-color: hsl(0, 0%, 98%);
  text-decoration: none;
}